[Unit]
Description=Weston Headless Compositor
After=network.target

[Service]
Environment="XDG_RUNTIME_DIR=/run/user/0"
Environment="WAYLAND_DISPLAY=wayland-1"
ExecStartPre=/bin/mkdir -p /run/user/0
ExecStartPre=/bin/chmod 0700 /run/user/0
ExecStart=/usr/bin/weston -c /etc/xdg/weston/weston.ini
Restart=always

[Install]
WantedBy=multi-user.target
